* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--white-1: #fff;
	--highlight-1: hotpink;
	--background-opaque: rgba(0,0,0,0.5);
	--footer-font-size: 1.25rem;
	--border-radius-main: 1rem;
	--box-shadow-main: 5px 15px 20px 5px rgba(0,0,0,0.3);
	--transisition-height-settings: height 0.2s ease-in-out;
	--transisition-settings: 1s;
}

body {
	width: 100vw;
	height: 100vh;
	min-height: 100vh;
	background: url(img/utilities/main-background-1.jpg) no-repeat center;
	background-size: cover;
	font-size: 16px;
	padding-bottom: 11rem;
	color: var(--white-1);
}

main {
	display: grid;
	place-items: center;
	height: 100%;
	padding: 37.5px;
}

.player-container {
	background-color: var(--background-opaque);
	height: 450px;
	width: 400px;
	border-radius: var(--border-radius-main);
	display: flex;
	flex-direction: column;
	box-shadow: var(--box-shadow-main);
	transition: var(--transisition-settings);
}

.player-container:hover > .controls-container {
	padding: 0 0 19.5px 0;
}

.player-container:hover > .controls-container .controls-inner-1 i {
	font-size: 40px;
}

.img-container {
	top: -50px;
	left: 50px;
	width: 300px;
	height: 100%;
	overflow: hidden;
	flex-grow: 1;
	border-radius: var(--border-radius-main);
	box-shadow: var(--box-shadow-main);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: var(--transisition-settings);
}

.img-container img {
	width: 300px;
	transition: var(--transisition-settings);
	/* object-fit: fill; */
}

.info-container {
	width: 100%;
	background-color: transparent;
}

.info {
	position: relative;
	left: 50px;
	top: -50px;
}

.controls-container {
	border-radius: 0 0 var(--border-radius-main) var(--border-radius-main);
	overflow: hidden;
	position: relative;
	padding-bottom: 12px;
	width: 100%;
	transition: var(--transisition-settings);
}

.controls-inner-1 {
	position: relative;
	display: flex;
	padding: 2px 2px;
	justify-content: space-between;
	z-index: 1;
	transition: var(--transisition-settings);
}

#pauseBtn {
	display: none;
}

.time {
	align-self: flex-end;
}

.controls-inner-1 i {
	cursor: pointer;
	text-shadow: 0 0 4px #00ffff;
	transition: var(--transisition-settings);
}

.controls-inner-1 i:hover {
	filter: brightness(85%);
	text-shadow: 0 0 7px #00ffff;
}

.progress-container {
	position: absolute;
	bottom: 0;
	background: #fff;
	cursor: pointer;
	height: 7px;
	width: 100%;
	transition: var(--transisition-height-settings);
  }

  .progress-container:hover {
	height: 11px;	
  }

  .progress-container:hover > .controls-inner-1 {
	height: 11px;	
  }

  .progress {
	background: #00ffff;
	border-radius: 5px;
	height: 100%;
	width: 0%;
	transition: width 0.1s linear;
  }

audio {
	width: 100%;
}





footer {
	position: absolute;
	bottom: 0;
}

.footer-container {
	margin: 1.55rem;
	padding: 0.55rem;
	border: 1px solid var(--white-1);
	border-radius: 0.75rem;
	box-shadow: var(--box-shadow-main);
	background-color: rgba(0,0,0,0.2);
}

.label-credits {
	/* color: var(--highlight-1); */
	text-decoration: underline;
}

footer a {
	margin-left: 1rem;
	display: block;
	font-size: 1rem;
	text-decoration: none;
	top: 0;
	color: var(--white-1);
}

footer a:hover {
	color: #00ffff;
}